root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 140

[*.md]
trim_trailing_whitespace = false

[*.yml]
indent_style = space
indent_size = 2

# Formatter wishlist (IntelliJ):
# - no space after label e.g. myLoop@while(true);
# - no line break to close closure e.g. .filter { a -> a == 0 }
# - no space between generics and function name e.g. fun <T>test() {}
